<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Janet</title>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
