{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>

<h1>Fiche de registre de l'activité : {{ activity.designation }} </h1>

<a href={{ url_for('edit_activity', activity_id=activity.id) }}>Modifier</a>

<form action="{{ url_for('delete_activity', activity_id=activity.id) }}" method="POST">
  <input type="submit" value="Supprimer">
</form>

<dl>
  <dt>Date création de la fiche</dt>
  <dd>{{ activity.creation_date.strftime('%x') }}</dd>

  <dt>Date de dernière mise à jour de la fiche</dt>
  <dd>{{ activity.last_update.strftime('%x') }}</dd>

  <dt>Nom du responsable conjoint du traitement</dt>
  <dd>{{ activity.joint_responsible }}</dd>

  <dt>Nom du logiciel ou de l'application</dt>
  <dd>{{ activity.app_name }}</dd>
</dl>


<h2>Objectifs poursuivis</h2>

<p>{{ activity.pursued_objectives }}</p>


<h2>Catégories de personnes concernées</h2>

<a href={{ url_for('add_person', activity_id=activity.id, person_class='concerned') }}>Ajouter</a>

<ul>
  {% for person in persons['concerned'] %}
    <li>
      {{ person.title }}
      <a href={{ url_for('edit_person', activity_id=activity.id, person_id=person.id) }}>Modifier</a>
      <form action="{{ url_for('delete_person', activity_id=activity.id, person_id=person.id) }}" method="POST">
        <input type="submit" value="Supprimer">
      </form>
   </li>
  {% endfor %}
</ul>


<h2>Catégories de données collectées</h2>

<dl>
  <dt class={{ categories['datas_collected-civil_state'].yes_no }} >
    Etat-civil, identité, données d'identification, images
  </dt>
  <dd>{{ categories['datas_collected-civil_state'].comment }}</dd>

  <dt class={{ categories['datas_collected-personnal_life'].yes_no }} >
    Vie personnelle
  </dt>
  <dd>{{ categories['datas_collected-personnal_life'].comment }}</dd>

  <dt class={{ categories['datas_collected-professionnal_life'].yes_no }} >
    Vie professionnelle
  </dt>
  <dd>{{ categories['datas_collected-professionnal_life'].comment }}</dd>

  <dt class={{ categories['datas_collected-financial'].yes_no }} >
    Informations d'ordre économique et financier
  </dt>
  <dd>{{ categories['datas_collected-financial'].comment }}</dd>

  <dt class={{ categories['datas_collected-data_connection'].yes_no }} >
    Données de connexion
  </dt>
  <dd>{{ categories['datas_collected-data_connection'].comment }}</dd>

  <dt class={{ categories['datas_collected-data_location'].yes_no }} >
    Données de localisation
  </dt>
  <dd>{{ categories['datas_collected-data_location'].comment }}</dd>

  <dt class={{ categories['datas_collected-internet'].yes_no }} >
    Internet
  </dt>
  <dd>{{ categories['datas_collected-internet'].comment }}</dd>

  <dt class={{ categories['datas_collected-other'].yes_no }} >
    Autres
  </dt>
  <dd>{{ categories['datas_collected-other'].comment }}</dd>

  <dt class={{ categories['datas_collected-sensible_datas'].yes_no }} >
    Données sensibles
  </dt>
  <dd>{{ categories['datas_collected-sensible_datas'].comment }}</dd>
</dl>


<h2>Durées de conservation des catégories de données</h2>

<p>{{ categories['datas_retention_duration'].comment }}</p>


<h2>Catégories de destinataires des données</h2>

<h3>Destinataires internes</h3>
<a href={{ url_for('add_person', activity_id=activity.id, person_class='intern') }}>Ajouter</a>

<ul>
  {% for person in persons['intern'] %}
    <li>
      {{ person.title }}
      <a href={{ url_for('edit_person', activity_id=activity.id, person_id=person.id) }}>Modifier</a>
      <form action="{{ url_for('delete_person', activity_id=activity.id, person_id=person.id) }}" method="POST">
        <input type="submit" value="Supprimer">
      </form>
   </li>
  {% endfor %}
</ul>

<h3>Organismes externes</h3>
<a href={{ url_for('add_person', activity_id=activity.id, person_class='extern') }}>Ajouter</a>

<ul>
  {% for person in persons['extern'] %}
    <li>
      {{ person.title }}
      <a href={{ url_for('edit_person', activity_id=activity.id, person_id=person.id) }}>Modifier</a>
      <form action="{{ url_for('delete_person', activity_id=activity.id, person_id=person.id) }}" method="POST">
        <input type="submit" value="Supprimer">
      </form>
    </li>
  {% endfor %}
</ul>

<h3>Sous-traitants</h3>
<a href={{ url_for('add_person', activity_id=activity.id, person_class='sub') }}>Ajouter</a>

<ul>
  {% for person in persons['sub'] %}
    <li>
      {{ person.title }}
      <a href={{ url_for('edit_person', activity_id=activity.id, person_id=person.id) }}>Modifier</a>
      <form action="{{ url_for('delete_person', activity_id=activity.id, person_id=person.id) }}" method="POST">
        <input type="submit" value="Supprimer">
      </form>
    </li>
  {% endfor %}
</ul>


<h2>Transferts des données hors UE</h2>
<dl>
  <dt>Données transférées hors UE</dt>
  <dd>{{ categories['datas_transfer'].comment }}</dd>
</dl>


<h2>Mesures de sécurité</h2>
<dl>
  <dt class={{ categories['security_measures-access_control'].yes_no }} >
    Contrôle d'accès des utilisateurs
  </dt>
  <dd>{{ categories['security_measures-access_control'].comment }}</dd>

  <dt class={{ categories['security_measures-traceability'].yes_no }} >
    Mesures de traçabilité
  </dt>
  <dd>{{ categories['security_measures-traceability'].comment  }}</dd>

  <dt class={{ categories['security_measures-software_protection'].yes_no }} >
    Mesures de protection des logiciels
  </dt>
  <dd>{{ categories['security_measures-software_protection'].comment  }}</dd>
 
  <dt class={{ categories['security_measures-backup'].yes_no }} >
    Sauvegarde des données
  </dt>
  <dd>{{ categories['security_measures-backup'].comment }}</dd>

  <dt class={{ categories['security_measures-data_encryption'].yes_no }} >
    Chiffrement des données
  </dt>
  <dd>{{ categories['security_measures-data_encryption'].comment }}</dd>

  <dt class={{ categories['security_measures-subcontractors_control'].yes_no }} >
    Contrôle des sous-traitants
  </dt>
  <dd>{{ categories['security_measures-subcontractors_control'].comment }}</dd>

  <dt class={{ categories['security_measures-other'].yes_no }} >
    Autres mesures
  </dt>
  <dd>{{ categories['security_measures-other'].comment }}</dd>
</dl>

<h2>Ressources externes</h2>
<a href={{ url_for('add_external_link', activity_id=activity.id) }}>Ajouter</a>

<ul>
  {% for link in external_links %}
    <li>
      <a href={{ link.link }}>{{ link.description }}</a>
      <a href={{ url_for('edit_external_link', activity_id=activity.id, external_link_id=link.id) }}>Modifier</a>
      <form action="{{ url_for('delete_external_link', activity_id=activity.id, external_link_id=link.id) }}" method="POST">
        <input type="submit" value="Supprimer">
      </form>
    </li>
  {% endfor %}
</ul>


{% endblock %}
