{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>
<a href={{ url_for('activity', activity_id=activity_id) }}>Activité</a>

<form action="{{ url_for('add_external_link', activity_id=activity_id) }}" method="POST">

  <label>Lien
    <input name="link" required>
  </label>

  <label>Description
    <input name="description" required>
  </label>

  <input type="submit" value="Enregistrer">

</form>

{% endblock %}
