{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>
<a href={{ url_for('activity', activity_id=activity_id) }}>Activité</a>

<form action="{{ url_for('add_person', activity_id=activity_id, person_class=person_class) }}" method="POST">

  <label>{{ labels[person_class] }}
    <input name="{{ person_class }}" required>
  </label>

  <input type="submit" value="Enregistrer">

</form>

{% endblock %}
