{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>

<form action="{{ url_for('add_activity') }}" method="POST">

  <h1>Activité</h1>
  <label>Nom de l'activité *
    <input name="designation" required>
  </label>
  <label>Nom du responsable conjoint du traitement
    <input name="joint_responsible">
  </label>
  <label>Nom du logiciel ou de l'application
    <input name="app_name">
  </label>
  <label>Objectifs poursuivis *
    <input name="pursued_objectives" required>
  </label>

  <h2>Catégories de données collectées</h2>
  <label>Etat-civil, identité, données d'identification, images
    <input name="datas_collected-civil_state">
  </label>
  <label>Vie personnelle
    <input name="datas_collected-personnal_life">
  </label>
  <label>Vie professionnelle
    <input name="datas_collected-professionnal_life">
  </label>
  <label>Informations d'ordre économique et financier
    <input name="datas_collected-financial">
  </label>
  <label>Données de connexion
    <input name="datas_collected-data_connection">
  </label>
  <label>Données de localisation
    <input name="datas_collected-data_location">
  </label>
  <label>Internet
    <input name="datas_collected-internet">
  </label>
  <label>Autres
    <input name="datas_collected-other">
  </label>
  <label>Données sensibles
    <input name="datas_collected-sensible_datas">
  </label>

  <h2>Durées de conservation des catégories de données</h2>
  <label>Durées de conservation des catégories de données
    <input name="datas_retention_duration">
  </label>

  <h2>Transferts des données hors UE</h2>
  <label>Données transférées hors UE
    <input name="datas_transfer">
  </label>

  <h2>Mesures de sécurité</h2>
  <label>Contrôle d'accès des utilisateurs
    <input name="security_measures-access_control">
  </label>
  <label>Mesures de traçabilité
    <input name="security_measures-traceability">
  </label>
  <label>Mesures de protection des logiciels
    <input name="security_measures-software_protection">
  </label>
  <label>Sauvegarde des données
    <input name="security_measures-backup">
  </label>
  <label>Chiffrement des données
    <input name="security_measures-data_encryption">
  </label>
  <label>Contrôle des sous-traitants
    <input name="security_measures-subcontractors_control">
  </label>
  <label>Autres mesures
    <input name="security_measures-other">
  </label>


  <input type="submit" value="Enregistrer">

</form>


{% endblock %}
