{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>
<a href={{ url_for('activity', activity_id=external_link.activity.id) }}>Activité</a>

<form action="{{ url_for('edit_external_link', external_link_id=external_link.id) }}" method="POST">

  <label>Lien
    <input name="link" value="{{ external_link.link }}" required>
  </label>

  <label>Description
    <input name="description" value="{{ external_link.description }}" required>
  </label>

  <input type="submit" value="Enregistrer">

</form>

{% endblock %}
