{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>
<a href={{ url_for('activity', activity_id=person.activity.id) }}>Activité</a>

<form action="{{ url_for('edit_person', person_id=person.id) }}" method="POST">

  <label>{{ labels[person.person_class] }}
    <input name="{{ person.person_class }}" value="{{ person.title }}" required>
  </label>

  <input type="submit" value="Enregistrer">

</form>

{% endblock %}
