{% extends '_layout.html' %}

{% block content %}

<a href={{ url_for('register') }}>Registre</a>
<a href={{ url_for('activity', activity_id=activity.id) }}>Activité</a>

<form action="{{ url_for('edit_activity', activity_id=activity.id) }}" method="POST">

  <h1>Activité : {{ activity.designation }}</h1>
  <label>Nom de l'activité *
    <input name="designation" value="{{ activity.designation }}" required>
  </label>
  <label>Nom du responsable conjoint du traitement
    <input name="joint_responsible" value="{{ activity.joint_responsible }}">
  </label>
  <label>Nom du logiciel ou de l'application
    <input name="app_name" value="{{ activity.app_name }}">
  </label>
  <label>Objectifs poursuivis *
    <input name="pursued_objectives" value="{{ activity.pursued_objectives }}" required>
  </label>
  
  <h2>Catégories de données collectées</h2>
  <label>Etat-civil, identité, données d'identification, images
    <input name="datas_collected-civil_state" value="{{ categories['datas_collected-civil_state'].comment }}">
  </label>
  <label>Vie personnelle
    <input name="datas_collected-personnal_life" value="{{ categories['datas_collected-personnal_life'].comment }}">
  </label>
  <label>Vie professionnelle
    <input name="datas_collected-professionnal_life" value="{{ categories['datas_collected-professionnal_life'].comment }}">
  </label>
  <label>Informations d'ordre économique et financier
    <input name="datas_collected-financial" value="{{ categories['datas_collected-financial'].comment }}">
  </label>
  <label>Données de connexion
    <input name="datas_collected-data_connection" value="{{ categories['datas_collected-data_connection'].comment }}">
  </label>
  <label>Données de localisation
    <input name="datas_collected-data_location" value="{{ categories['datas_collected-data_location'].comment }}">
  </label>
  <label>Internet
    <input name="datas_collected-internet" value="{{ categories['datas_collected-internet'].comment }}">
  </label>
  <label>Autres
    <input name="datas_collected-other" value="{{ categories['datas_collected-other'].comment }}">
  </label>
  <label>Données sensibles
    <input name="datas_collected-sensible_datas" value="{{ categories['datas_collected-sensible_datas'].comment }}">
  </label>

  <h2>Durées de conservation des catégories de données</h2>
  <label>Durées de conservation des catégories de données
    <input name="datas_retention_duration" value="{{ categories['datas_retention_duration'].comment }}">
  </label>

  <h2>Transferts des données hors UE</h2>
  <label>Données transférées hors UE
    <input name="datas_transfer" value="{{ categories['datas_transfer'].comment }}">
  </label>

  <h2>Mesures de sécurité</h2>
  <label>Contrôle d'accès des utilisateurs
    <input name="security_measures-access_control" value="{{ categories['security_measures-access_control'].comment }}">
  </label>
  <label>Mesures de traçabilité
    <input name="security_measures-traceability" value="{{ categories['security_measures-traceability'].comment }}">
  </label>
  <label>Mesures de protection des logiciels
    <input name="security_measures-software_protection" value="{{ categories['security_measures-software_protection'].comment }}">
  </label>
  <label>Sauvegarde des données
    <input name="security_measures-backup" value="{{ categories['security_measures-backup'].comment }}">
  </label>
  <label>Chiffrement des données
    <input name="security_measures-data_encryption" value="{{ categories['security_measures-data_encryption'].comment }}">
  </label>
  <label>Contrôle des sous-traitants
    <input name="security_measures-subcontractors_control" value="{{ categories['security_measures-subcontractors_control'].comment }}">
  </label>
  <label>Autres mesures
    <input name="security_measures-other" value="{{ categories['security_measures-other'].comment }}">
  </label>


  <input type="submit" value="Enregistrer">

</form>

{% endblock %}

