{% extends '_layout.html' %}

{% block content %}

<h1>Registre des activités de traitement de : {{ config['SOCIETY'] }}</h1>

<dl>
  <dt>Coordonnées du responsable de l'organisme</dt>
  <dl>
    <dt>Nom</dt>
    <dd>{{ config['RO_NAME'] }}</dd>

    <dt>Prénom</dt>
    <dd>{{ config['RO_SURNAME'] }}</dd>
    
    <dt>Adresse</dt>
    <dd>{{ config['RO_ADRESS'] }}</dd>
    
    <dt>CP</dt>
    <dd>{{ config['RO_PC'] }}</dd>
    
    <dt>Ville</dt>
    <dd>{{ config['RO_CITY'] }}</dd>
    
    <dt>Téléphone</dt>
    <dd>{{ config['RO_PHONE'] }}</dd>
    
    <dt>Adresse de messagerie</dt>
    <dd>{{ config['RO_MAIL'] }}</dd>
  </dl>

  <dt>Nom et coordonnées du délégué à la protection des données</dt>
  <dl>
    <dt>Nom</dt>
    <dd>{{ config['DPO_NAME'] }}</dd>

    <dt>Prénom</dt>
    <dd>{{ config['DPO_SURNAME'] }}</dd>
    
    <dt>Société (si DPO externe)</dt>
    <dd>{{ config['DPO_EXT'] }}</dd>
   
    <dt>Adresse</dt>
    <dd>{{ config['DPO_ADRESS'] }}</dd>
    
    <dt>CP</dt>
    <dd>{{ config['DPO_PC'] }}</dd>
    
    <dt>Ville</dt>
    <dd>{{ config['DPO_CITY'] }}</dd>
    
    <dt>Téléphone</dt>
    <dd>{{ config['DPO_PHONE'] }}</dd>
    
    <dt>Adresse de messagerie</dt>
    <dd>{{ config['DPO_MAIL'] }}</dd>
  </dl>
</dl>


<h2>Activités de l'organisme impliquant le traitement de données personnelles</h2>

<a href={{ url_for('add_activity') }}>Ajouter</a>

<ul>
  {% for activity in activities %}
    <li>
      <a href="{{ url_for('activity', activity_id=activity.id) }}">
        {{ activity.designation }}
      </a>
      <form action="{{ url_for('delete_activity', activity_id=activity.id) }}" method="POST">
        <input type="submit" value="Supprimer">
      </form>
    </li>
  {% endfor %}
</ul>

{% endblock %}
